.keyboard {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  gap: 5px;
}

.keyboard .keyboard-row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  margin-top: 5px;
  gap: 5px;

}


.keyboard-row .keyboard-key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}
